[submodule "references/OmniRoute"]
	path = references/OmniRoute
	url = https://github.com/diegosouzapw/OmniRoute.git
[submodule "references/opencode"]
	path = references/opencode
	url = https://github.com/anomalyco/opencode.git
[submodule "references/OpenSpec"]
	path = references/OpenSpec
	url = https://github.com/Fission-AI/OpenSpec.git
[submodule "references/graymatter"]
	path = references/graymatter
	url = https://github.com/angelnicolasc/graymatter.git
[submodule "references/opencode-omniroute-auth"]
	path = references/opencode-omniroute-auth
	url = https://github.com/Alph4d0g/opencode-omniroute-auth.git
